.eventItemContainer {
  display: flex;
  margin: 24px 0px;
  align-items: start;
}

.eventInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 18px;
}

.eventName {
  margin: 0;
  font-size: 22px;
}
.eventInfo {
  text-align: left;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.seeMoreBtn {
  margin-top: 10px;
  width: 100%;
}

.imageContainer {
  position: relative;
}

.heartImage {
  position: absolute;
  width: 25px;
  top: 10px;
  left: 10px;
  z-index: 1;
  cursor: pointer;
}
