* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.box {
  width: 100%;
  height: 150px;
  min-width: 150px;
}

.c1 {
  background-color: #fa34d9;
}

.c2 {
  background-color: #792fe0;
}

.c3 {
  background-color: #406df5;
}

.c4 {
  background-color: #f28705;
}

.c5 {
  background-color: #34fa83;
}

/* se aplica apartir de 600 */
/* @media(min-width:600px) {

    .c2,
    .c3,
    .c4 {
        width: 50%;
    }
} */

/* @media(min-width:700px) {

    .c2,
    .c3,
    .c4 {
        width: 100%;
    }
} */
