* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.container {
  border: 1px solid red;
  display: grid;
  justify-content: center;
  /* 
  grid-template-rows: repeat(5, 20px);
  grid-template-columns: repeat(5, 20px);
  */
  grid-template: repeat(5, 50px) / repeat(5, 50px);
  gap: 5px;
}

/* Clase 20 */

.contanier {
  display: grid;
  grid-template: repeat(2, 100px) / repeat(2, 100px);
  grid-auto-flow: column; /* Agrega automaticamente columnas */
  grid-auto-flow: row; /* Agrega automaticamente Filas */
  grid-auto-columns: 100px; /* Define el tamaño de columnasx que se agregaran automaticamente*/
  grid-auto-rows: 100px; /* Define el tamaño de las filas que se agregaran automaticamente */
}
