* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

main {
  width: 100%;
  height: 100%;
  background-color: green;
  font-size: 1.6rem;
}

section {
  margin: 0 auto;
  min-width: 200px; /* base */
  max-width: 600px; /* crecimeinto maximo */
  background-color: red;
}
