:root {
  --primary-color: rgb(46, 76, 194);
  --secondary-color: rgb(53, 245, 245);
  --thee-color: sandybrown;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

header {
  width: 100vw;
  height: 15vh;
  background-color: var(--primary-color);
}

main {
  width: 100vw;
  height: 70vh;
  background-color: var(--secondary-color);
  font-size: 1.8rem;
}

h1 {
  font-size: 4rem;
}

footer {
  width: 100vw;
  height: 15vh;
  background-color: var(--thee-color);
}
