* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Roboto', monospace;
}
body {
  width: 100%;
  height: 100%;
}
/***** Estilos del main *****/
.main-title {
  font-size: 3.6rem;
  font-weight: bold;
  text-align: center;
  padding: 20px 20px;
  background-color: #B5B5A3;
}
.main-title a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.main-title a:hover {
  text-decoration: underline;
}
/***** Seccion de las clases *****/
.main-lessons {
  width: 100%;
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-lessons__title {
  width: 90%;
  font-size: 2.4rem;
  text-align: center;
  padding: 20px 0;
  margin: 0 10px;
  border-bottom: 1px solid #363630;
}
.main-lessons__grid {
  width: 80%;
  min-width: 280px;
  max-width: 920px;
  margin: 20px 0 40px 0;
  display: grid;
  row-gap: 20px;
  column-gap: 20px;
  grid-template-columns: repeat(auto-fit, 280px);
  justify-content: center;
}
.card-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #363630;
  background-color: #dbdbc5;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.card-container__title {
  color: #363630;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.card-container__figure {
  width: 100%;
  margin-bottom: 10px;
  padding: 0 10px;
}
.card-container__img {
  width: 100%;
}
.card-container__text {
  font-size: 1.4rem;
  text-align: justify;
  margin-bottom: 20px;
  padding: 0 10px;
}
.card-container__button {
  display: inline-block;
  margin: 0 auto;
  border: 1px solid #363630;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  background-color: #75756A;
  font-size: 1.4rem;
  text-decoration: none;
}
.card-container__button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/***** Estilos del footer *****/
footer {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background-color: #B5B5A3;
}
footer p {
  font-size: 1.4rem;
  font-weight: bold;
}