* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*   <ul class="main-nav"> */
.main-nav {
  background-color: rgb(127, 221, 218);
  margin: 20px;
  text-align: center;
  padding: 30px;
}
/*  <li class="main-nav__item"><a href="#">Home</a></li> */

.main-nav__item {
  display: inline-block;
}

.main-nav__item a {
  color: white;
  text-decoration: none;
  margin: 20px;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
}

.main-nav__item a:hover {
  color: rgb(11, 77, 119);
}
.main-nav__item a::after {
  content: "!";
  color: red;
}

.main-nav__item a::before {
  content: "!";
  color: yellow;
}
