
.CreateTodoButton {
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    position: fixed;
    bottom: var(--spacing-large);
    right: var(--spacing-large);
    font-weight: bold;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    transform: rotate(0);
    transition: .5s ease;
    z-index: 1;
}

.CreateTodoButton:hover {
    transform: rotate(224deg);
}
