
form {
    width: 90%;
    max-width: 300px;
    background-color: var(--white);
    padding: var(--spacing-xlarge);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--box-shadow);
}

label {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: var(--spacing-large);
    color: var(--text-color);
}

textarea {
    background-color: var(--background-color);
    border: 2px solid var(--secondary-color);
    border-radius: 8px;
    padding: var(--spacing-medium);
    font-size: 16px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: var(--text-color);
    width: calc(100% - var(--spacing-large));
    margin-bottom: var(--spacing-large);
    resize: vertical;
    min-height: 80px;
}

textarea::placeholder {
    color: var(--gray);
}

textarea:focus {
    outline-color: var(--primary-color);
}

.TodoForm-buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.Todo-Form-button {
    width: 48%;
    height: 48px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.TodoForm-button--add {
    background-color: var(--primary-color);
    color: var(--white);
}

.TodoForm-button--add:hover {
    background-color: darken(var(--primary-color), 10%);
}

.TodoForm-button--cancel {
    background-color: var(--error-color);
    color: var(--white);
}

.TodoForm-button--cancel:hover {
    background-color: darken(var(--error-color), 10%);
}
