
.TodoItem {
    background-color: var(--white);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
    border: 1px solid var(--gray);
    margin: var(--spacing-large);
}

.TodoItem-p {
    margin: var(--spacing-large) 0 var(--spacing-large) var(--spacing-large);
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.TodoItem-p--complete {
    text-decoration: line-through;
}

.Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
}

.Icon-check {
    position:absolute;
    left: 12px;
}

.Icon-check--active {
    color: var(--success-color);
}

.Icon-delete {
    position:absolute;
    top: -24px;
    right: 0;
}

.Icon-delete:hover {
    color: var(--error-color);
}
