* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  border: 5px solid #b11fca;
  background-color: #ffffff;
  height: 100vh;

  display: grid;
  place-content: center;
  gap: 20px;
  grid-template-columns: 150px 150px 150px;
  grid-auto-rows: 150px;

  /*   grid-template-rows: 100px 100px 100px;
  grid-auto-columns: 150px;
  grid-auto-flow: column; */
  /*   height: 100%; */
  /* container */
  /* item */
  /*  
  justify-items: center;
  align-items: center; 
  */
}
.item {
  color: white;
  border: 5px solid #00bcd4;
  background-color: #48ac12;
  font-size: 5rem;
}
