.container {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

  border: 5px solid #e1bee7;
  background-color: #fff1ff;
}

.container-2 {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

  border: 5px solid #e1bee7;
  background-color: #fff1ff;
}

.item {
  border: 5px solid #00bcd4;
  font-size: 2rem;
}
