.wrapper-tab {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.tab-item {
    display: inline-flex;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;

    cursor: pointer;
    border: none;

    color: #fff;
    background-color: #4e016a;
}

.tab-item.active {
    border: 1px solid red;
    background: #a1d600;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

.content {
    padding: 20px 10px;
    height: 300px;
    overflow: auto;
    background-color: #fff;
}
