@import "tailwindcss";

body {
  background: #101010;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

button {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}
