.container-image-luis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    & .bg-image {
        background-color: red;
    }

    & button {
        width: 120px;
    }
    & .image {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
    & .hide {
        display: none;
    }
}
