body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f6f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.main-container {
  width: 500px;
  margin: 0 auto;
}

.btn {
  font-weight: bold;
  font-size: 18px;
  border: none;
  background-color: rgba(13, 110, 184,1);
  color: white;
  padding: 10px 15px;
  border-radius: 3px;
  margin: 10px 0;

  width: 200px;
}

.main-container input[type="text"] {
  border: solid 1px #ccc;
  border-radius: 3px;
  padding: 8px 10px;
}

.main-container label {
  padding-top: 5px;
}

label {
  padding-top: 5px;
}
a {
  color: rgb(13, 110, 185);
  font-weight: bold;
  text-decoration: none;
}
