@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter";
    src: url("./assets/font/Inter.woff2") format("woff2"),
        url("./assets/font/Inter.woff") format("woff");
    font-weight: 100 900;
    font-style: normal;
}

body {
    font-family: "Inter", sans-serif;
}
