@import "tailwindcss";

body {
    background-color: #101010;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded-2xl;
}
