.container-load-more {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.product {
  padding: 20px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.product img {
  height: 100%;
  width: 30%;
}
