/* index.css */
.div-container {
    width: 100vw;
    padding: 0;
    margin: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 50px solid black;
}

.div-text-color {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
    gap: 10px;
}

.div-button {
    text-align: center;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-rgb {
    background-color: #f39c12;
    color: #fff;
    width: 200px;
}

.button-hex {
    background-color: #3498db;
    color: #fff;
    width: 200px;
}

.button-generate {
    background-color: #2ecc71;
    color: #fff;
    width: 400px;
}
