.container-bg {
    text-align: center;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-btn {
    height: 30px;
    width: 120px;
    margin: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.btn-hex {
    background-color: #cb0909;
}
.btn-rgb {
    background-color: #09cb19;
}
.btn-random {
    background-color: #a709cb;
}
