/* 1. Estilos Globales: */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    padding: 20px;
}

/* Selectores de Clase con Combinadores: */
.nextElement h2 + p {
    color: red;
    font-size: 20px;
}

.allInk h2 ~ p {
    color: blue;
}

.clasetresdos div > p {
    color: purple;
}
