body {
  color: #222;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

.circulo {
  border-radius: 50%;
  padding: 40px;
  margin: 10px;
  background-color: red;
  display: inline-block;
}

.rectangulo {
  padding: 100px 200px;
  background-color: #ccc;
  margin: 50px;
}
