.materias {
    background-color: aqua;
    padding: 5px;
    width: 90%;
    font-size: 20px;
}

.materia {
    background-color: blueviolet;
    display: flex;

}

.materia div {
    padding: 20px;
}

.materia .nombre {


    flex-grow: 1;
}

.materia .nota {

    font-weight: 700;
    flex-basis: 20px;
    background-color: white;
}