body {
  background-color: gray;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.collapsed{
    display: none;
}

nav {
  background-color: black;
  color: white;
  width: 100%;
}

nav .mobile {
  display: none;
}

nav .mobile .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

nav .mobile .header .more button {
  border: none;
  background-color: black;
  color: white;
  padding: 15px;
  cursor: pointer;
}

nav .logo {
  min-width: 250px;
}

nav a {
  color: wheat;
  text-decoration: none;
  display: block;
  padding: 20px 25px;
}

nav a:hover {
  color: black;
  background-color: #00ffc3;
}

nav .desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  pad: 0 20px;
}

nav .desktop .primary,
nav .desktop .secondary {
  display: flex;
}

nav .desktop .secondary.mini {
  display: none;
}

/* aplicar este reglas hasta 853px */
/* cuando sea menor a 854px  */
@media screen and (max-width: 853px) {
  nav .logo {
    min-width: 100px;
   
  }

  nav .secondary.full {
    display: none;
  }

  nav .secondary.mini {
    display: block !important;
  }

  nav .secondary.mini .submenu {
    background-color: black;
    position: absolute;
    display: none;
    width: 200px;
    right: 0;
  }

  nav .secondary.mini:hover .submenu {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  nav .desktop {
    display: none;
  }
  nav .mobile {
    display: block;
  }
}
