
:root {
  --primary-color: #61DAFA;
  --secondary-color: #202329;
  --background-color: #F1F1F1;
  --text-color: #1E1E1F;
  --white: #FAFAFA;
  --gray: #A5A5A5;
  --success-color: #4CAF50;
  --error-color: #F44336;
  --box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);

  --spacing-unit: 8px;
  --spacing-small: var(--spacing-unit);
  --spacing-medium: calc(var(--spacing-unit) * 2);
  --spacing-large: calc(var(--spacing-unit) * 3);
  --spacing-xlarge: calc(var(--spacing-unit) * 6);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
