.users {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 3rem auto;
}
.users li {
    width: 80%;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background: rgb(114, 187, 203);
    padding: 1rem 2rem;
    border-radius: 10px;
    text-align: left;
}

.users img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
}

.users h4 {
    margin-bottom: 0.15rem;
}

.users a {
    text-transform: capitalize;
}
