* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 10px;
}
.clasetrescero h2 + p {
  color: red;
}

.clasetresone h2 ~ p {
  color: blue;
}

.clasetresdos div > p {
  color: green;
}
