* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 10px;
}
.clasetrescero h2 + p {
  color: red;
}

.clasetresone h2 ~ p {
  color: blue;
}

.clasetresdos div > p {
  color: rgb(30, 180, 30);
}
.clasetresdos div {
  border: 2px solid red;
}
.clasetresdos section {
  border: 2px solid rgb(8, 0, 255);
}

.clasetresdos article {
  border: 2px solid rgb(17, 16, 40);
}
