* {
  text-align: center;
}

.grid-main {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding: 10px;
}

.grid-child {
  border: 2px solid gray;
  border-radius: 10px;
}

.search {
  width: 50%;
  height: 40px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  outline: none;
}
