/* Mobile-first styles */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  animation: fadeIn ease 3s;
}
.photo-album {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  padding: 10px;
  height: 100vh;
}

.photo-container {
  background-color: #a7a7a7;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
}

img {
  width: auto;
  height: auto;
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Media query for larger screens */
@media (min-width: 600px) {
  .photo-album {
    grid-template-columns: repeat(2, 1fr);
  }
}
