@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap");

:root {
  --blue: #016fb9;
  --red: #cf1212;
  --yellow: #ffd602;
}

body {
  font-family: "Lato", sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.page {
  height: 100%;
  position: relative;
  width: 100%;
}

/* LOADER */

.loader {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: white;
  animation: loader 2s linear forwards;
  z-index: 3;
}

@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  95% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader div {
  background-color: var(--yellow);
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 10px;
  transform: scale(0);
  animation: scaling 2s ease-in-out infinite;
}

@keyframes scaling {
  0%,
  100% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
}

.loader div:nth-child(1) {
  animation-delay: 0.2s;
}
.loader div:nth-child(2) {
  animation-delay: 0.4s;
}
.loader div:nth-child(3) {
  animation-delay: 0.6s;
}
/* Areas */
.container {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 20% 50% 30%;
  grid-template-areas:
    "nav     aside"
    "section aside"
    "footer  aside";
  height: 100%;
  position: absolute;
  width: 100%;
}

.navbar {
  /* background: pink; */
  grid-area: nav;
}

.navbar__content {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  padding: 0 0 0 80px;
  width: 100%;

  animation: 2s navbar 0.5s ease-in-out;
}

@keyframes navbar {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
  }
}

.navbar__content img {
  width: 50px;
}

.navbar__content ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  width: 450px;
}

.navbar__content ul li a {
  color: var(--red);
  font-weight: 300;
  text-decoration: none;
}

/* MAIN CONTENT */

.main-content {
  /* background: hotpink; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  grid-area: section;
  justify-content: center;
  padding-left: 80px;

  animation: 2s main-content 0.5s ease-in-out;
}

@keyframes main-content {
  0% {
    transform: translateX(-600px);
  }
  100% {
    transform: translateX(0px);
  }
}

.main-content p:first-child {
  font-size: 36px;
  font-weight: 300;
  margin: 0 0 -14px 44px;
}

.main-content h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 0 0 28px 0;
}

.main-content p:last-child {
  font-weight: 100;
  margin: 0;
  width: 60%;
}

/* SIDE CONTENT */

.side-content {
  align-items: center;
  /* background: papayawhip; */
  display: grid;
  grid-area: aside;
  grid-template-columns: repeat(6, 1fr);
}

.side-content p {
  align-self: center;
  font-size: 36px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 50px;
  opacity: 0;
  transform: rotate(-90deg);
  z-index: 1;

  animation-name: side-content-text;
  animation-duration: 0.5s;
  animation-delay: 2.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes side-content-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.side-content img {
  box-sizing: border-box;
  grid-column: 2 / 6;
  grid-row: 1 / 2;
  padding: 20px;
  width: 100%;
  z-index: 2;

  animation: 2s side-content-img 0.5s ease-in-out;
}

@keyframes side-content-img {
  0% {
    transform: translateX(600px);
  }
  100% {
    transform: translateX(0px);
  }
}

.side-content div {
  background: var(--yellow);
  grid-column: 4 / 7;
  grid-row: 1 / 2;
  height: 100%;
  z-index: 1;
}

/* FOOTER */

.footer {
  align-items: flex-end;
  /* background: lightgoldenrodyellow; */
  background: var(--yellow);
  border-radius: 0 80px 0 0;
  display: flex;
  grid-area: footer;
  justify-content: space-evenly;
  transform: translateY(100%);

  animation-name: footer;
  animation-duration: 0.5s;
  animation-delay: 2.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes footer {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0px);
  }
}

.footer div {
  /* background: lightcoral; */
  background: var(--blue);
  border-radius: 20px 20px 0 0;
  display: flex;
  height: 50%;
  justify-content: center;
  position: relative;
  width: 130px;
}

.footer div:hover img {
  cursor: pointer;
  transform: translateY(-20px) scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.footer div:nth-child(1) {
  transform: translateY(200px);

  animation-name: footer-child;
  animation-duration: 0.5s;
  animation-delay: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.footer div:nth-child(2) {
  transform: translateY(200px);

  animation-name: footer-child;
  animation-duration: 0.5s;
  animation-delay: 3.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.footer div:nth-child(3) {
  transform: translateY(200px);

  animation-name: footer-child;
  animation-duration: 0.5s;
  animation-delay: 4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes footer-child {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0px);
  }
}

.footer div img {
  bottom: 30px;
  position: absolute;
  width: 160px;

  transform: translateY(0px) scale(1);
  transition: transform 0.5s ease-in-out;
}

/* MODAL */

.hidden {
  display: none !important;
}

.visible {
  display: grid !important;
}

.modal {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 4;

  display: grid;
  place-items: center;
}

.modal-content {
  align-items: center;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  position: relative;
  width: 40%;
}

.modal-content__close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal-content__button {
  background: var(--red);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 20px;
  width: 240px;
}

/* CAROUSEL */

.modal-content__slider {
  width: 300px;
  height: 200px;
  transform-style: preserve-3d;
  margin-bottom: 60px;
}

.modal-content__slider input {
  visibility: hidden;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
}

.card {
  background: var(--yellow);
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;

  display: grid;
  place-items: center;
}

.card img {
  width: 100%;
}

#radio-1:checked ~ .cards #card-1,
#radio-2:checked ~ .cards #card-2,
#radio-3:checked ~ .cards #card-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#radio-1:checked ~ .cards #card-2,
#radio-2:checked ~ .cards #card-3,
#radio-3:checked ~ .cards #card-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.5;
  z-index: 0;
}

#radio-1:checked ~ .cards #card-3,
#radio-2:checked ~ .cards #card-1,
#radio-3:checked ~ .cards #card-2 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.5;
  z-index: 0;
}
