* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
}

.block-element {
  margin: 10px;
  border: 1px solid black;
  padding: 20px;
  background-color: green;
}

.nav {
  background-color: peachpuff;
  text-align: center;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  margin: 10px;
  padding: 20px;
}
