* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*  */
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
/*  */

.search-bar{
    border: 1px solid #ccc;
    border-radius: 30px;
    width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    justify-content: flex-end;
    margin: 100px auto



}

.search-bar:focus-within{
    border: solid 1px #aaa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-bar input[type="text"]{
    border: none;
    outline: none;
    flex: 1;
    padding: 10px;
    font-size: 18px;

}

.search-bar .actions{
    display: flex;
    gap: 5px;

}

.search-bar .actions button{
    border: none;
    outline: none;
    background: none;
    color: #999;
    cursor: pointer;
    
    transition: color 0.2s ease;

}
.search-bar .actions button:hover{
    color: #297922;
}



