@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
        @apply bg-red-500 w-full h-40 grid place-content-center rounded-lg text-white font-bold border-2 border-red-600 text-4xl;
    }
    .card-grid {
        @apply bg-red-500 w-40 h-40 grid place-content-center rounded-lg text-white font-bold border-2 border-red-600 text-4xl;
    }
}
