* {
    font-size: 34px;
    color: black;
}

body {
    box-sizing: border-box;
    transition: 1s all ease-in-out;
}

.container {
    background-color: green;
    height: 200px; /* imagen  */
    margin: 0px;
    padding: 0px;
}

.left {
    float: left;
    width: 200px;
    height: inherit;
}

.right {
    float: right;
}
/*  <h1 id="titulo">Hola mundo</h1> */
#titulo {
    color: rgb(187, 39, 90);
}

p.especial {
    color: brown;
}

p.texto {
    color: steelblue;
}

div p {
    color: red;
}

div h2,
div h3 {
    color: yellow;
}
div h3 .test {
    color: green;
}

/*  soy un comentario */

.color {
    border: 5px black dotted;
    padding: 10px;
    border-style: dotted;
    border-color: rosybrown;
    border-width: 5px;
    border-radius: 25px;
}

#fondo {
    text-align: center;
    color: rgb(255, 254, 254);
    text-shadow: 3px 5px 5px rgb(255, 0, 153);
    padding: 1px;
    margin: 1px;
    opacity: 0.95;
    background-image: url("https://recetastips.com/wp-content/uploads/2020/05/helado-de-chocolate-6-1.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center center;
    background-color: rgba(255, 0, 0, 1);
}

.margen {
    height: 200px;
    width: 250px;
    margin: 120px;
    padding: 10px;

    overflow: visible;
    overflow: hidden;
    overflow: scroll;

    border: solid 1px rgb(251, 251, 9);
    outline: 1px solid red;
    background-color: rgb(88, 16, 147);
}

.texto {
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify; /* aumenta espacion entre palabras */
    text-decoration: underline;
    text-decoration: line-through;
    text-decoration: overline;
    text-decoration: none;
    text-shadow: 3px 5px 5px rgb(255, 0, 153); /*  eje x ,eje y,  sombra , color*/
    font-family: "Times New Roman", Times, serif;
    font-weight: regular;
}

a:link {
    color: blueviolet;
    text-decoration: none;
}
a:visited {
    color: green;
}

a:hover {
    color: rgb(0, 191, 255);
}

a:active {
    color: gray;
}

ul {
    background-color: tomato;
    list-style-type: none;

    padding: 0;
    /*   list-style-position: inside; */
}

table {
    width: 100%;
    border-collapse: collapse;
}
th,
td {
    border: 1px solid black;
    padding: 5px;
}

th {
    background-color: rgb(255, 71, 141);
    text-align: left;
}

tr:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.291);
}

tr:hover {
    background-color: rgba(135, 86, 86, 0.971);
}

span {
    max-width: 900px;
    display: block;
    background-color: tomato;
}

#position {
    position: sticky;
    left: 200px;
    top: 15px;
}

.inline-block {
    display: inline-block;
    height: 200px;
    background-color: red;
    width: 200px;
}
