/* [0-->599] */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

div {
  font-size: 5rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.c1,
.c2,
.c3,
.c4,
.c5 {
  width: 100%;
  min-width: 150px;
  height: 150px;
}

.c1 {
  background-color: rgb(255, 0, 0);
}
.c2 {
  background-color: rgb(255, 242, 0);
}

.c3 {
  background-color: rgb(30, 255, 0);
}

.c4 {
  background-color: rgb(0, 242, 255);
}

.c5 {
  background-color: rgb(0, 110, 255);
}
/* [600 --> 799] */
@media (min-width: 600px) {
  .c1 {
    width: 25%;
    order: 1;
  }
  .c2 {
    width: 75%;
    order: 2;
  }
  .c3 {
    width: 100%;
    order: 3;
  }

  .c4 {
    width: 100%;
    order: 4;
  }
  .c5 {
    width: 100%;
    order: 5;
  }
}

/* [800 --> ] */
@media (min-width: 800px) {
  .c1 {
    width: 30%;
    order: 1;
  }
  .c2 {
    width: 40%;
    order: 2;
  }
  .c3 {
    width: 30%;
    order: 3;
  }

  .c4 {
    width: 50%;
    order: 4;
  }
  .c5 {
    width: 50%;
    order: 5;
  }
}
