* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(8, 114, 114, 0.5);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}

.form-container .login-container {
  width: 500px;
  margin: 0 auto;
}

.form-container .login-container > h2 {
  text-align: center;
  font-size: 3.5rem;
}

.form-container .login-container > p {
  text-align: center;
  color: #555;
}

.form-container .login-container > span {
  text-align: center;
  color: #555;
}

.form-container .login-container label {
  display: block;

  font-weight: bold;
  padding: 5px 0;
}
.form-container .login-container input.input {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
}
.form-container .login-container input.input:focus {
  outline: 2px solid rgba(8, 114, 114, 0.8);
  border: none;
}

.form-container .login-container .options {
  margin-top: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-container a {
  color: red;
  text-decoration: none;
}

.form-container a:hover {
  text-decoration: underline;
}

.form-container .login-container .providers {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.btn {
  border: none;
  padding: 15px 0;
  width: 100%;
  font-weight: bolder;
  display: block;
  border-radius: 15px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn.btn-login {
  margin-top: 20px;
  background-color: black;
  color: white;
}
.btn.btn-login:hover {
  background-color: #444;
  color: white;
}

.btn.btn-google {
  background-color: rgb(0, 136, 255);
  color: white;
}
.btn.btn-google:hover {
  background-color: rgba(0, 136, 255, 0.714);
}

@media screen and (max-width: 900px) {
  .form-container {
    width: 95%;
    padding: 20px;
    background-color: yellow;
  }
}

@media screen and (max-width: 600px) {
  .form-container {
    background-color: cadetblue ;
    width: 85%;
    padding: 20px;
  }
}
