* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-family: "Courier New", Courier, monospace;
  color: purple;
  margin-bottom: 10px;
  font-size: 18px;
  font-family: monospace;
}

.container {
  margin-top: 30px;
  /*   list-style-type: none; */
}

.container li {
  display: inline-block;
  margin: 15px;
}

.container a {
  background-color: #13a4a4;
  color: white;
  padding: 5px;
  border-radius: 8px;
}

.container .blog {
  background-color: purple;
}
