@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
@layer base {
    * {
        @apply bg-slate-100;
        @apply text-gray-900;
        font-family: "Roboto", sans-serif;
    }
    h1 {
        @apply bg-cyan-500 text-2xl;
        @apply text-red-700;
    }

    h2 {
        @apply bg-green-700 text-2xl;
        @apply text-red-700;
    }
    h3 {
        @apply bg-blue-700 text-xl;
        @apply text-red-700;
    }

    p {
        @apply bg-cyan-500;
        @apply text-red-700;
        @apply text-2xl;
        font-family: "Gloria Hallelujah", cursive;
        font-weight: 400;
        font-style: normal;
    }
}

@layer components {
    .containerColumn-main {
        @apply text-white bg-red-500  border-4 border-gray-950 h-dvh;
    }
    .containerColumn-h {
        @apply container mx-auto h-[500px];
    }
    .containerColumn-grid {
        @apply h-full m-0 border-2 p-4 grid grid-cols-1 md:grid-cols-2  lg:grid-cols-3 gap-4 justify-center items-center;
    }
    .main-reactangular {
        @apply p-6 rounded-lg bg-sky-500;
    }

    .cube-container {
        @apply flex flex-row  bg-red-900 h-dvh  justify-evenly items-center;
    }
    .cube-sidebar {
        @apply w-1/5 min-h-dvh bg-blue-400;
    }
    .cube-main {
        @apply w-4/5 min-h-dvh bg-green-600;
    }

    .container-border {
        @apply inline-block p-4 text-black bg-white border rounded-lg shadow-md hover:shadow-cyan-500;
    }
    .container-img {
        @apply w-full h-64 md:w-64 object-cover blur-sm hover:blur-none hover:scale-105 hover:rounded-lg hover:h-max  delay-150 duration-300  overflow-hidden hover:overflow-hidden;
    }
    .container-btn {
        @apply animate-bounce  transition delay-100 duration-100  px-3 py-2 rounded-lg  cursor-pointer bg-cyan-500 shadow-md shadow-cyan-500/50 text-white;
    }
}
 */
