* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  border: 1px solid black;
  height: 100vh;
}

/* container */
.parent {
  position: relative;
  margin: 20px;
  border: 5px red dotted;
}

.child {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
}

#one {
  background-color: red;
  position: relative;
}

#two {
  background-color: green;
  position: relative;
  bottom: 5px;
}

#three {
  background-color: blue;
  position: absolute;
  top: 5px;
  left: 120px;
  z-index: 1;
}
#four {
  background-color: blueviolet;
  position: relative;
}
