* {
  margin: 0px; /* espacio externo */
  box-sizing: border-box;
  padding: 0px; /* espacio interno */
}

.main-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #13a4a4;
  height: 30px;
}
.main-nav__item {
  display: inline-block;
}

.main-nav__item a {
  color: white;
  margin: 1px;
  padding: 5px;
  border-radius: 8px;
  text-decoration: none;
  background: red;
}
.main-nav__item a:hover {
  color: blue;
}
.main-nav__item a:active {
  color: green;
}
.main-nav__item a::before {
  content: " / : ";
}
.main-nav__item a::after {
  content: " > ";
}
