.container {
  border: 5px solid #e1bee7;
  background-color: #fff1ff;
  /*  */
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.item {
  border: 5px solid #00bcd4;
  font-size: 1rem;
}
